.row.section#github-section
  .col-lg-12    
    .page-header
      %h2
        %i.fa.fa-github
        Github
        
    .row
      .col-lg-12
        = column_chart commits_by_day_api_githubs_path(version: 1), library: commits_by_day_settings, id: 'github-chart'

.row.section#instagram-section
  .col-lg-12
    .page-header
      %h2
        %i.fa.fa-instagram
        Instagram

    .row#instagrams
      = render @instagrams
      
.row.section#automatic-section
  .col-lg-12
    .page-header
      %h2
        %i.fa.fa-car
        Trips
    
    .row#automatics
      = render @automatics
      
.row.section#driving-section
  .col-lg-12
    .page-header
      %h2
        %i.fa.fa-road
        Driving Stats
        
    .row#driving
      .col-sm-4
        %div.text-center
          %button.btn.btn-lg.btn-danger.disabled{ style: "font-size: 6em; font-weight: bold"}
            = Automatic.avg("trip.average_mpg") || 0.0
          %h3
            .label.label-danger AVERAGE MPG
            
      .col-sm-4
        %div.text-center
          %button.btn.btn-lg.btn-danger.disabled{ style: "font-size: 6em; font-weight: bold"}
            = Automatic.avg("trip.average_mpg") || 0.0
          %h3
            .label.label-danger AVERAGE MPG
            
      .col-sm-4
        %div.text-center
          %button.btn.btn-lg.btn-danger.disabled{ style: "font-size: 6em; font-weight: bold"}
            = Automatic.avg("trip.average_mpg") || 0.0
          %h3
            .label.label-danger AVERAGE MPG
      
      
.row.section#football-section
  .col-lg-12
    .page-header
      %h2
        %i.fa.fa-trophy
        Fantasy Football
    .row#footballs
      = render @footballs
  

